bin/Debug/net5.0/TcpControl.dll
bin/Debug/net5.0/TcpControl.pdb
bin/Debug/net5.0/ref/TcpControl.dll
obj/Debug/net5.0/TcpControl.assets.cache
obj/Debug/net5.0/TcpControl.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/TcpControl.dll
obj/Debug/net5.0/TcpControl.pdb
obj/Debug/net5.0/ref/TcpControl.dll
